.menu-game {
  flex: 0 0 100%;
  border-radius: 8px;
  padding: 5px;
  background-color: #3a80ba;

  &__title {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
    font-weight: bold;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    background-color: #1c3b55;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 8px;
  }
}
