.main {
  width: 100%;
  &__row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 15px;
  }

  &__block {
    flex: 0 0 48%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #3a80ba;
    padding: 15px 20px;
    border-radius: 8px;
    margin-bottom: 15px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  &__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  &__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1c3b55;
    padding: 5px 5px 5px 15px;
    border-radius: 8px;
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0px;
    }
  }

  &__btns {
    display: flex;
  }

  &__text,
  &__btn {
    background-color: #1c3b55;
    padding: 2px 10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    color: #fff;
    border-radius: 8px;
  }

  &__icon {
    width: 25px;
    height: 25px;
  }
  &__link:hover,
  &__btn:hover {
    position: relative;
    top: -2px;
    left: 1px;
  }
  @media (max-width: 767.98px) {
    &__block {
      flex: 0 0 100%;
    }
    &__link {
      flex-wrap: wrap;
    }

    &__btns {
      justify-content: space-around;
      width: 100%;
    }

    &__text {
      width: 100%;
    }
  }
}
