.main {
  flex: 1 1 auto;

  &__row {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }

  &__games {
    flex: 0 0 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #1c3b55;
    padding: 20px 10px;
    border-radius: 30px;
  }

  &__title {
    flex: 0 0 100%;
    text-align: center;
    font-size: 32px;
    line-height: 39px;
    color: #fff;
  }

  &__block {
    flex: 0 0 48%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #3a80ba;
    padding: 15px 20px;
    margin-top: 20px;
    border-radius: 8px;

    .usersBlock {
      &__link {
        background-color: #1c3b55;

        div {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: flex-end;
          margin-left: 10px;
        }

        button {
          margin: 2px 5px;
          &:nth-child(1) {
          }
        }
      }
    }
  }

  &__btn-create {
    padding: 10px 30px;
    border-radius: 12px;
    background-color: #3a80ba;
    color: #fff;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
  }
}
