//<Подключаем шрифты>=======================================================================================
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
//</Подключаем шрифты>=======================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontfamily: "Montserrat";
//</Шрифт по умолчанию>==========================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null.scss";
html,
body,
#root {
  height: 100%;
  color: #fff;
  background-color: #e9e9e9;
  font-size: 14px;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
  &.lock {
    overflow: hidden;
  }
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
  max-width: 1180px;
  margin: 0 auto;
  width: 100%;
  @media (max-width: 1192px) {
    max-width: 970px;
  }
  @media (max-width: 991.98px) {
    max-width: 750px;
  }
  @media (max-width: 767.98px) {
    max-width: none;
    padding: 0 10px;
  }
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

.block-users {
}
.error {
  position: fixed;
  z-index: 111;
  width: 90%;
  top: 20px;
  left: 5%;

  &__link {
    background-color: #f8d8db;
    border: 2px solid #c4817e;
    border-radius: 8px;
    padding: 7px 15px;
    margin-bottom: 10px;
    color: #be5248;
    font-size: 20px;
    line-height: 22px;
    display: flex;
    justify-content: space-between;
  }

  // &__message {

  // }
  &__delete {
    background-color: #f8d8db;
  }
}

.loader {
  flex: 1 1 auto;
  &__row {
    font-size: 10px;
    margin: 50px auto;
    text-indent: -9999em;
    width: 11em;
    height: 11em;
    border-radius: 50%;
    background: #3a80ba;
    background: -moz-linear-gradient(left, #3a80ba 10%, #e9e9e9 42%);
    background: -webkit-linear-gradient(left, #3a80ba 10%, #e9e9e9 42%);
    background: -o-linear-gradient(left, #3a80ba 10%, #e9e9e9 42%);
    background: -ms-linear-gradient(left, #3a80ba 10%, #e9e9e9 42%);
    background: linear-gradient(to right, #3a80ba 10%, #e9e9e9 42%);
    position: relative;
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);

    &:before {
      width: 50%;
      height: 50%;
      background: #3a80ba;
      border-radius: 100% 0 0 0;
      position: absolute;
      top: 0;
      left: 0;
      content: "";
    }

    &:after {
      background: #e9e9e9;
      width: 75%;
      height: 75%;
      border-radius: 50%;
      content: "";
      margin: auto;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
  }

  @-webkit-keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
}
