.menu-players {
  flex: 0 0 100%;
  border-radius: 8px;
  padding: 5px;
  background-color: #3a80ba;

  .usersBlock {
    &__list {
      max-height: 200px;
    }

    &__link {
      background-color: #1c3b55;
      margin-bottom: 5px;
      padding: 5px;
      span {
        font-size: 14px;
        line-height: 16px;
      }

      button {
        padding: 3px 7px;
        margin-left: 10px;
        background-color: rgba(255, 38, 0, 0.829);
        color: #fff;
        font-weight: bold;
      }
    }
  }
}
