.game {
  flex: 1 1 auto;
  display: flex;

  &__column {
    // display: flex;

    &:nth-child(1) {
      flex: 1 0 auto;
      background-color: chocolate;
    }
    &:nth-child(2) {
      // display: none;
      width: 320px;
      background-color: rgb(48, 48, 48);
    }
  }

  &__header {
    padding: 5px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(194, 100, 237);
  }

  &__title {
    font-size: 20px;
    line-height: 142%;
    text-align: center;
  }
}

.menu {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 5px;

  &__row {
    flex: 0 0 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 10px;
  }

  &__title {
    font-size: 20px;
    line-height: 142%;
    text-align: center;
  }

  &__btn-leave {
    font-size: 16px;
    line-height: 20px;
    padding: 3px 5px;
    border-radius: 4px;
  }

  &__invited-users {
    flex: 1 0 auto;
    border-radius: 8px;
    padding: 5px;
    background-color: #3a80ba;
  }

  .menu-block__link {
    padding: 3px 5px;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
  }
}
