.game {
  flex: 1 1 auto;
  display: flex;

  &__column {
    // display: flex;

    &:nth-child(1) {
      flex: 1 0 auto;
      background-color: chocolate;
    }
    &:nth-child(2) {
      // display: none;
      flex: 0 0 20%;
      background-color: rgb(48, 48, 48);
    }
  }

  &__header {
    padding: 5px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(194, 100, 237);
  }

  &__title {
    font-size: 20px;
    line-height: 142%;
    text-align: center;
  }
}

.menu {
  padding: 10px 5px;
  &__row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__title {
    font-size: 20px;
    line-height: 142%;
    text-align: center;
  }

  button {
    font-size: 16px;
    line-height: 20px;
    padding: 3px 5px;
    border-radius: 4px;
  }
}
.block-users {
  background-color: #3a80ba;
  &__text {
    font-size: 18px;
    line-height: 20px;
    border-radius: 8px;
  }
}
