.game {
  flex: 1 1 auto;
  display: flex;
  position: relative;

  &__column {
    &:nth-child(1) {
      display: flex;
      flex-direction: column;
      flex: 0 0 100%;
      background-color: rgb(187, 133, 94);
    }

    &:nth-child(2) {
      position: absolute;
      display: flex;
      right: 0px;
      transition: 0.3s;
      width: 320px;
      height: 100%;
      background-color: #ffffff00;

      &.none {
        top: 0px;
        right: -290px;
        transition: 0.3s;
      }
    }
  }

  &__header,
  &__form {
    transition: 0.3s;
    &.active {
      transition: 0.3s;
      padding-right: 290px;
    }
  }

  &__header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px 35px;
    background-color: #1c3b55;

    &.active {
      padding-right: 325px;
    }
  }

  &__title {
    font-size: 20px;
    line-height: 142%;
    text-align: center;
  }

  &__text {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 14px;
    line-height: 16px;

    b {
      margin-right: 5px;
    }
  }

  @media (max-width: 767.98px) {
    &__form {
      padding: 0px;
      &.active {
        padding: 0px;
      }
    }
    &__header {
      padding: 10px;
      &.active {
        padding: 10px;
      }
    }
    &__form &__title,
    &__text {
      flex: 0 0 100%;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__row {
    &:nth-child(2) {
      flex: 1 1 auto;
    }
  }

  &__users {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  &__user {
    flex: 0 0 22%;
    padding: 10px 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: #3a80ba;
  }
  &__username {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    margin-bottom: 10px;
  }
  &__answer {
    span {
      font-weight: 600;
      font-size: 16px;
      line-height: 18px;
    }
  }

  &__player-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: #3a80ba;
  }

  &__btn-answer {
    padding: 7px 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    color: #1a80ba;
  }

  &__list {
    flex: 0 0 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__link {
    width: 6.9%;
    padding: 5% 0px 5%;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    background-color: #014d88;
    transition: 0.5s;

    &:hover {
      transition: 0.5s;
      position: relative;
      top: -10px;
      -webkit-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
      box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
    }
  }

  @media (max-width: 767.98px) {
    &__link {
      width: 15%;
      &:nth-child(-n + 6) {
        margin-bottom: 10px;
      }
    }
  }
}

.menu {
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff00;

  &__column {
    height: 100%;
    &:nth-child(1) {
      width: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: #ffffff00;
    }
    &:nth-child(2) {
      display: flex;
      flex-direction: column;
      padding: 5px 10px;
      width: 290px;
      background-color: rgb(48, 48, 48);
      overflow-y: auto;
    }
  }

  &__row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 10px;
  }

  &__title,
  &__btn-active {
    font-size: 20px;
    line-height: 142%;
    text-align: center;
  }

  &__btn-active {
    padding: 20px 0px;
    width: 30px;
    border-radius: 8px 0px 0px 8px;
  }

  &__btn-leave {
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    padding: 3px 5px;
    border-radius: 4px;
    color: rgb(255, 254, 254);
    background-color: rgba(255, 38, 0, 0.829);
  }

  &__users,
  &__storyes {
    flex: 0 0 100%;
    border-radius: 8px;
    padding: 5px;
    background-color: #3a80ba;
  }

  &__text {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 5px;
  }

  .menu-block__link {
    padding: 3px 5px;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 10px;
  }

  .usersBlock {
    &__list {
      max-height: 200px;
    }

    &__link {
      background-color: #1c3b55;
      margin-bottom: 5px;
      padding: 5px;
      span {
        font-size: 14px;
        line-height: 16px;
      }

      button {
        padding: 2px 3px;
        margin-left: 15px;
      }
    }
  }

  .storiesBlock {
    &__list {
      max-height: 300px;
      overflow-y: auto;
    }
    &__link {
      background-color: #1c3b55;
      margin-bottom: 5px;
      padding: 5px;
      span {
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
      }

      button {
        padding: 2px 4px;
        &:nth-child(2) {
          margin-left: 10px;
        }
      }
    }
    &__row {
      margin-bottom: 10px;
    }
  }
}
