.game-menu {
  display: flex;

  &__column {
    display: flex;
    flex-direction: column;
    height: 100%;
    &:nth-child(1) {
      width: 30px;
      justify-content: center;
    }
    &:nth-child(2) {
      position: relative;
      z-index: 3;
      padding: 5px 10px;
      width: 290px;
      background-color: rgb(48, 48, 48);
      overflow-y: auto;
    }
  }

  &__row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 10px;
  }

  &__title,
  &__btn-menu {
    font-size: 20px;
    line-height: 142%;
    text-align: center;
  }

  &__btn-menu {
    padding: 20px 0px;
    width: 30px;
    border-radius: 8px 0px 0px 8px;
  }
}
