.game-menu {
  display: flex;

  &__column {
    display: flex;
    flex-direction: column;
    height: 100%;
    &:nth-child(1) {
      width: 30px;
      justify-content: center;
    }
    &:nth-child(2) {
      position: relative;
      z-index: 3;
      padding: 5px;
      width: 290px;
      background-color: rgb(48, 48, 48);
      overflow-y: auto;
      border-radius: 8px 0px 0px 8px;
    }
  }

  &__row {
    width: 100%;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 10px;
    background-color: #3a80ba;
    border-radius: 8px;
    &:first-child {
      background: none;
    }
  }

  &__title,
  &__btn-menu {
    font-size: 20px;
    line-height: 142%;
    text-align: center;
  }

  &__btn-menu {
    padding: 20px 0px;
    width: 30px;
    border-radius: 8px 0px 0px 8px;
  }

  &__btn-leave,
  &__btn-modal {
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    padding: 3px 5px;
    border-radius: 4px;
    color: rgb(255, 254, 254);
    background-color: rgba(255, 38, 0, 0.829);
  }

  &__list,
  &__textarea {
    width: 100%;
    border-radius: 8px;
  }

  &__list {
    max-height: 250px;
    overflow-y: auto;
  }

  &__title-2,
  &__link {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    margin-top: 10px;
  }

  &__title-2,
  &__textarea,
  &__name {
    font-size: 16px;
    line-height: 18px;
  }

  &__link {
    background-color: #1c3b55;
    border-radius: 8px;
    padding: 5px;
  }

  &__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }

  &__users {
    display: flex;
    justify-content: space-between;
  }

  &__text {
    font-weight: 400;
    &:first-letter {
      text-transform: uppercase;
    }
  }

  &__text-status,
  &__btn-status {
    width: 79px;
    color: #fff;
    padding: 2px 5px;
    border-radius: 8px;
    font-weight: bold;
    text-align: center;
  }

  &__btn-status {
    background-color: #3a80ba;
  }

  &__btn-icon {
    padding: 2px 10px;
    background-color: rgba(0, 0, 0, 0);
  }

  &__modal {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    h2 {
      width: 100%;
    }
  }
  &__textarea {
    margin: 30px 0px 15px;
    resize: none;
    padding: 10px 20px;
    height: 300px;
  }

  &__btn-modal {
    padding: 8px 20px;
    background: #3a80ba;
    margin-left: 15px;
  }

  &__switch {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    font-weight: bold;
    background-color: #1c3b55;
    border-radius: 8px;
    padding: 5px;

    &:last-child {
      margin-bottom: 0px;
    }
  }
}
