.menu {
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff00;

  &__column {
    height: 100%;
    &:nth-child(1) {
      width: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: #ffffff00;
    }
    &:nth-child(2) {
      position: relative;
      z-index: 3;
      display: flex;
      flex-direction: column;
      padding: 5px 10px;
      width: 290px;
      background-color: rgb(48, 48, 48);
      overflow-y: auto;
    }
  }

  &__row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 10px;
  }

  &__title,
  &__modal-title,
  &__btn-active {
    font-size: 20px;
    line-height: 142%;
    text-align: center;
  }

  &__btn-active {
    padding: 20px 0px;
    width: 30px;
    border-radius: 8px 0px 0px 8px;
  }

  &__btn-leave {
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    padding: 3px 5px;
    border-radius: 4px;
    color: rgb(255, 254, 254);
    background-color: rgba(255, 38, 0, 0.829);
  }

  &__users,
  &__storyes {
    flex: 0 0 100%;
    border-radius: 8px;
    padding: 5px;
    background-color: #3a80ba;
  }

  &__text {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
    font-weight: bold;
  }

  .menu-block__link {
    padding: 3px 5px;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 10px;
  }

  .usersBlock {
    &__list {
      max-height: 200px;
    }

    &__link {
      background-color: #1c3b55;
      margin-bottom: 5px;
      padding: 5px;
      span {
        font-size: 14px;
        line-height: 16px;
      }

      button {
        padding: 2px 3px;
        margin-left: 15px;
      }
    }
  }

  .storiesBlock {
    &__list {
      max-height: 300px;
      overflow-y: auto;
    }
    &__link {
      background-color: #1c3b55;
      margin-bottom: 5px;
      padding: 5px;
      span {
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
      }

      button {
        padding: 3px 7px;
        background-color: #3a80ba;
        color: #fff;
        font-weight: bold;
        &:nth-child(2) {
          margin-left: 10px;
          background-color: rgba(255, 38, 0, 0.829);
        }
      }
    }
    &__row {
      margin-bottom: 10px;
    }
  }

  &__modal {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  &__modal-title {
    flex: 0 0 100%;
  }
  &__textarea {
    flex: 0 0 100%;
    margin: 30px 0px 15px;
    resize: none;
    height: 150px;
    font-size: 16px;
    line-height: 18px;
    border-radius: 8px;
    padding: 10px 20px;
    height: 300px;
  }

  &__btn-сhange {
    font-size: 20px;
    line-height: 22px;
    padding: 8px 20px;
    border-radius: 8px;
    color: #fff;
    font-weight: 600;
    background: #3a80ba;
    margin-left: 15px;
  }

  &__btn-create {
    font-size: 16px;
    line-height: 18px;
    width: 100%;
    margin-top: 10px;
    font-weight: 600;
    background-color: rgb(0, 187, 16);
    color: #fff;
    padding: 7px 0px;
    border-radius: 8px;
  }

  &__game {
    flex: 0 0 100%;
    border-radius: 8px;
    padding: 5px;
    background-color: #3a80ba;
  }
  &__choice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }
}
